{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "insertFinalNewline": true,
  "proseWrap": "never",
  "trimTrailingWhitespace": true
}
